/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* */

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #dadada;
  --color-alabaster: #f2efe5;
  --color-silver-pink: #d4b1a6;
  --color-rich-black-fogra-39: #111010;
  --color-eton-blue: #8bbfa4;
  --color-copper-red: #ce6551;
}

::-moz-selection {
  background: var(--color-black);
  color: var(--color-white);
  text-shadow: none;
}

::selection {
  background: var(--color-black);
  color: var(--color-white);
  text-shadow: none;
}

*:focus {
  outline: none;
}

html {
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  padding: 0;
  color: var(--color-black);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  line-height: 1.4;
  margin: 0 auto;
}

html,
body {
  font-size: 14px;
}

@media (min-width: 769px) {
  html,
  body {
    font-size: 16px;
  }
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-white);
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

@media (min-width: 769px) {
  p {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
}

p:last-child {
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
}

button {
  background: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

strong {
  font-weight: 400;
}

.show-mobile {
  display: block;
}

.show-desktop {
  display: none;
}

@media (min-width: 769px) {
  .show-mobile {
    display: none;
  }

  .show-desktop {
    display: block;
  }
}

.bg-gradient {
  background: var(--color-silver-pink);
  background: rgba(212,177,166,1);
  background: linear-gradient(0deg, rgba(212,177,166,1) 14%, rgba(240,236,224,1) 100%);
  overflow: hidden;
}

.intro {
  background: var(--color-alabaster);
}

.intro-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 769px) {
  .intro-content {
    flex-direction: row;
  }
}

.intro-title {
  margin-bottom: 1rem;
  max-width: 800px;
}

@media (min-width: 769px) {
  .intro-title {
    margin-bottom: 4rem;
  }
}

.intro-content .intro-col {
  padding: 1.5rem;
}

@media (min-width: 769px) {
  .intro-content .intro-col {
    width: 50%;
    padding: 4rem;
  }
}

.intro-col {
  max-width: 800px;
}

.intro-content img {
  width: 100%;
}

.intro-video {
  width: 100%;
  height: auto;
}

.intro-video-container {
  max-width: 600px;
  margin: 0 auto 2rem auto;
}

@media (min-width: 769px) {
  .intro-video-container {
    margin: 0 auto;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.intro-cta {
  position: relative;
  padding: 1rem;
}

.intro-cta button {
  position: relative;
  height: 50px;
  width: 60px;
  margin: 0 auto;
  display: block;
}

.intro-cta svg {
  animation: MoveUpDown 0.5s ease infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

.video {
  background: var(--color-black);
}

.video-container {
  max-width: 1920px;
  margin: 0 auto;
}

.portfolio {
  margin: 4rem auto 1rem auto;
  max-width: 1600px;
}

.portfolio-description {
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  padding: 2rem;
}

.slider-item {
  padding: 0 20px;
}

@media (min-width: 769px) {
  .slider-item {
    padding: 0 50px;
  }
}

.slider img {
  width: 100%;
}

.slider-prev,
.slider-next {
  position: absolute;
  top: calc(50% - 20px);
  padding: 0;
  margin: 0;
  z-index: 9999;
}

.slider-prev {
  left: 10px;
}

.slider-next {
  right: 10px;
}

@media (min-width: 769px) {
  .slider-prev,
  .slider-next {
    top: calc(50% - 30px);
  }

  .slider-prev {
    left: 15px;
  }

  .slider-next {
    right: 15px;
  }
}

.slider-prev svg,
.slider-next svg {
  width: 15px;
}

@media (min-width: 769px) {
  .slider-prev svg,
  .slider-next svg {
    width: 30px;
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 769px) {
  .contact {
    flex-direction: row;
  }
}

.contact img {
  width: 100%;
  display: block;
}

.contact .contact-col {
  padding: 1.5rem;
  max-width: 800px;
}

.contact .contact-col-no-padding {
  padding: 2rem 2rem 0 2rem;
}

@media (min-width: 769px) {
  .contact .contact-col {
    width: 50%;
    padding: 4rem;
  }

  .contact .contact-col-no-padding {
    padding: 4rem 4rem 0 4rem;
  }
}

.contact h2 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 4rem;
}
